<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ICONE -->
    <link rel="icon" type="image/png" sizes="56x56" href="~/Content/images/icone2.png">
    <title>Afrodite Jóias</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="../Content/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="../Content/css/animate.css">

    <link rel="stylesheet" href="../Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../Content/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../Content/css/magnific-popup.css">
    <link rel="stylesheet" href="../Content/css/aos.css">
    <link rel="stylesheet" href="../Content/css/ionicons.min.css">
    <link rel="stylesheet" href="../Content/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="../Content/css/jquery.timepicker.css">

    <link rel="stylesheet" href="../Content/css/flaticon.css">
    <link rel="stylesheet" href="../Content/css/icomoon.css">
    <link rel="stylesheet" href="../Content/css/style.css">
</head>
<body class="goto-here">
    <div class="py-1 bg-black">
        <div class="container">
            <div class="row no-gutters d-flex align-items-start align-items-center px-md-0">
                <div class="col-lg-12 d-block">
                    <div class="row d-flex">
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-phone2"></span></div>
                            <span class="text">15 33639090</span>
                        </div>
                        <div class="col-md pr-4 d-flex topper align-items-center">
                            <div class="icon mr-2 d-flex justify-content-center align-items-center"><span class="icon-paper-plane"></span></div>
                            <span class="text">afroditejoias@gmail.com</span>
                        </div>
                        <div class="col-md-5 pr-4 d-flex topper align-items-center text-lg-right">
                            <span class="text">Avenida Paulista, 60 - São Paulo/SP</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--BARRA DE NAVEGAÇÃO-->
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html"><img src="~/Content/images/nome1.png" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        @Html.ActionLink("Home", "Index", "Home",
                               new { @class = "nav-link" })
                        <!--<a href="index.html" class="nav-link">Home</a>-->
                    </li>
                    <li class="nav-item">
                        <a>
                            @Html.ActionLink("Catálogo", "Colares", "Home",
                                                    new { @class = "nav-link" })
                        </a>
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Sobre Nós", "Sobre", "Home",
                               new { @class = "nav-link" })
                        <!--<a href="about.html" class="nav-link">Sobre Nós</a>-->
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Contato", "Contato", "Home",
                           new { @class = "nav-link" })
                        <!--<a href="contact.html" class="nav-link">Contato</a>-->
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!-- FIM nav -->
    <div class="hero-wrap hero-bread" style="background-image: url('../Content/images/fundo6.jpg');">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Sobre Nós</span></p>
                    <h1 class="mb-0 bread">Sobre Nós</h1>
                </div>
            </div>
        </div>
    </div>
    <br />

    <section class="ftco-section ftco-no-pb ftco-no-pt bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../Content/images/joia.png);">
                    
                </div>
                <div class="col-md-7 py-md-5 wrap-about pb-md-5 ftco-animate">
                    <div class="heading-section-bold mb-4 mt-md-5">
                        <div class="ml-md-0">
                            <img src="~/Content/images/desde.png" />
                            <!--<h2 class="mb-4">Desde 1975</h2>-->
                        </div>
                    </div>
                    <div class="pb-md-5 pb-4">
                        <p>
                            A joalheria Afrodite nasceu da união de dois apaixonados: Huggo Laurent e Louise Moreau. Juntos tiveram 3 filhos na cidade de Poitiers,
                            na França. Infelizmente, um terrível acidente de carro tirou a vida de uma filha do casal. Sofrendo pela perda, a família decidiu se
                            mudar para o Brasil para procurar novas oportunidades. Em 1975, Huggo e Louise abriram sua joalheria, na cidade do Rio de Janeiro,
                            batizada com o nome de sua falecida filha: Afrodite.
                        </p>

                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-section testimony-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="services-flow">
                        <div class="services-2 p-4 d-flex ftco-animate">
                            <div class="icon">
                                <span class="flaticon-bag"></span>
                            </div>
                            <div class="text">
                                <h3>Frete Grátis*</h3>
                                <p class="mb-0">*Em compras acima de R$200, seu frete é totalmente gratuito, independente da localidade.</p>
                            </div>
                        </div>
                        <div class="services-2 p-4 d-flex ftco-animate">
                            <div class="icon">
                                <span class="flaticon-heart-box"></span>
                            </div>
                            <div class="text">
                                <h3>Melhores presentes</h3>
                                <p class="mb-0">Não há presente melhor que uma Afrodite! Presenteie quem você ama!</p>
                            </div>
                        </div>
                        <div class="services-2 p-4 d-flex ftco-animate">
                            <div class="icon">
                                <span class="flaticon-payment-security"></span>
                            </div>
                            <div class="text">
                                <h3>Suporte ao Consumidor</h3>
                                <p class="mb-0">Estamos disponíveis caso haja qualquer dúvida, crítica ou sugestão. Nossos clientes são ouvidos e assistidos!</p>
                            </div>
                        </div>
                        <div class="services-2 p-4 d-flex ftco-animate">
                            <div class="icon">
                                <span class="flaticon-customer-service"></span>
                            </div>
                            <div class="text">
                                <h3>Seguro</h3>
                                <p class="mb-0">Ao comprar sua Afrodite, sua compra terá seguro. Caso haja danos ou erros de fabricação, nossa equipe corrigirá o problema!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="heading-section ftco-animate mb-5">
                        <img src="~/Content/images/clientes.png" />
                        <!--<h2 class="mb-4">Our satisfied customer says</h2>-->
                        <p>Registramos aqui os comentários de alguns clientes frequentes de nossa loja. Trabalhamos sempre com honestidade, respeito e carinho pelo cliente.</p>
                    </div>
                    <div class="carousel-testimony owl-carousel ftco-animate">
                        <div class="item">
                            <div class="testimony-wrap">
                                <div class="user-img mb-4" style="background-image: url(../Content/images/mulher1.jpg)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <p class="mb-4 pl-4 line">Atendimento Impecável! Voltarei mais vezes.</p>
                                    <p class="name">Alice Hoffmann</p>
                                    <span class="position">Cirurgiã Dentista</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap">
                                <div class="user-img mb-4" style="background-image: url(../Content/images/mulher2.jpg)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <p class="mb-4 pl-4 line">Jóias com um brilho e durabilidade únicos! Não compro em outro lugar. Só compro na Afrodite Jóias.</p>
                                    <p class="name">Luiza Medeiros</p>
                                    <span class="position">Especialista em BigData</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap">
                                <div class="user-img mb-4" style="background-image: url(../Content/images/person_3.jpg)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <p class="mb-4 pl-4 line">Comprei as alianças do meu casamento na Afrodite Jóias, há 15 anos. Elas continuam perfeitas! </p>
                                    <p class="name">Ronaldo Penna</p>
                                    <span class="position">Oftalmologista</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap">
                                <div class="user-img mb-4" style="background-image: url(../Content/images/person_1.jpg)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <p class="mb-4 pl-4 line">Comprei um par de brincos para minha esposa, e ela amou! Vai ser difícil mantê-la longe da loja.</p>
                                    <p class="name">José Felipe Mello</p>
                                    <span class="position">Desenvolvedor Web</span>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-wrap">
                                <div class="user-img mb-4" style="background-image: url(../Content/images/mulher3.jpg)">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                        <i class="icon-quote-left"></i>
                                    </span>
                                </div>
                                <div class="text">
                                    <p class="mb-4 pl-4 line">Sempre que preciso de jóias novas e belíssimas, venho para Afrodite Jóias. Não há lugar melhor!</p>
                                    <p class="name">Roberta Campos</p>
                                    <span class="position">Pintora</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="ftco-gallery">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 heading-section text-center mb-4 ftco-animate">
                    <h2 class="mb-4" style="background-color:white">Siga-nos no Instagram</h2>
                </div>
            </div>
        </div>
        <div class="container-fluid px-0">
            <div class="row no-gutters">
                <div class="col-md-4 col-lg-2 ftco-animate">
                    <a href="../Content/images/dia4.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(../Content/images/dia4.jpg);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-instagram"></span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-2 ftco-animate">
                    <a href="../Content/images/dia2.jpeg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(../Content/images/dia2.jpeg);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-instagram"></span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-2 ftco-animate">
                    <a href="../Content/images/dia5.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(../Content/images/dia5.jpg);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-instagram"></span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-2 ftco-animate">
                    <a href="../Content/images/dia9.jpg" class="gallery image-popup img d-flex align-items-center" style="background-image: url(../Content/images/dia9.jpg);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-instagram"></span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-2 ftco-animate">
                    <a href="../Content/images/dia8.png" class="gallery image-popup img d-flex align-items-center" style="background-image: url(../Content/images/dia8.png);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-instagram"></span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 col-lg-2 ftco-animate">
                    <a href="../Content/images/dia11.png" class="gallery image-popup img d-flex align-items-center" style="background-image: url(../Content/images/dia11.png);">
                        <div class="icon mb-4 d-flex align-items-center justify-content-center">
                            <span class="icon-instagram"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!--RODAPÉ-->
    <footer class="ftco-footer ftco-section">
        <div class="container">
            <div class="row">
                <div class="mouse">
                    <a href="#" class="mouse-icon">
                        <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                    </a>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Afrodite Jóias</h2>
                        <p>Site acadêmico.</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="https://twitter.com/login?lang=pt"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="https://pt-br.facebook.com/login/"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="https://www.instagram.com/?hl=pt"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">

                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">Avenida Paulista, 60 - São Paulo/SP</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">15 33639090</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">afroditejoias@gmail.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> Site Acadêmico <i class="icon-heart color-danger" aria-hidden="true"></i>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

    <script src="../Content/js/jquery.min.js"></script>
    <script src="../Content/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="../Content/js/popper.min.js"></script>
    <script src="../Content/js/bootstrap.min.js"></script>
    <script src="../Content/js/jquery.easing.1.3.js"></script>
    <script src="../Content/js/jquery.waypoints.min.js"></script>
    <script src="../Content/js/jquery.stellar.min.js"></script>
    <script src="../Content/js/owl.carousel.min.js"></script>
    <script src="../Content/js/jquery.magnific-popup.min.js"></script>
    <script src="../Content/js/aos.js"></script>
    <script src="../Content/js/jquery.animateNumber.min.js"></script>
    <script src="../Content/js/bootstrap-datepicker.js"></script>
    <script src="../Content/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="../Content/js/google-map.js"></script>
    <script src="../Content/js/main.js"></script>

</body>
</html>